:root {
--Dark-Violet: hsl(257, 26%, 20%);
--Grayish-Blue: hsl(216, 30%, 68%);
--Very-Dark-Violet: hsl(270, 9%, 17%);
--Dark-Grayish-Violet: hsl(273, 4%, 51%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--font1: 'DM Serif Display', serif;
--padding-container: 80px 0
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
}

/* Section 1*/

.container {
    max-width: 1200px;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}
.hero {
    background-color: var(--Dark-Violet);
    color: white;
    --padding-container: 0;
}
.nav {
    background-color: white;
}
.nav__container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__links {
    display: none;
}
.nav__icon, .nav__logo {
    display: block;
}
.hero__main {
    width: 100%;
}
.hero__main::before {
    content: "";
    display: block;
    width: 100%;
    height: 370px;
    background-image: url(images/image-intro-mobile.jpg);
    background-size: cover;
    background-position: center;
}
.hero__texts {
    width: 90%;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}
.title {
    font-size: 2.5rem;
    font-family: var(--font1);
    letter-spacing: 3px;
}
.paragraph {
    line-height: 1.5;
    margin-top: 1em;
}
.cta {
    display: inline-block;
    margin-top: 1.5em;
    border: 1px solid;
    text-decoration: none;
    color: white;
    padding: .8em 2.2em;
}

/* Section different*/

.different {
    text-align: center;
}
.title-different {
    position: relative;
    padding-top: 30px;
}
.title-different::before {
    content: "";
    position: absolute;
    top: -5px;
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    background-color: var(--Dark-Grayish-Violet);
    width: 120px;
    height: 1px;
}
.different__items {
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.different__icon {
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
}
.different__title {
    font-family: var(--font1);
    font-size: 1.5rem;
    letter-spacing: 3px;
}
.different__paragraph {
    margin-top: 1em;
    line-height: 1.5;
    color: var(--Dark-Grayish-Violet);
}

/*section find*/

.find {
    padding: 80px 0;
    --padding-container: 60px 30px;
}
.find__container {
    position: relative;
    color: white;
    background-color: var(--Dark-Violet);
    text-align: center;
}

/* Section footer*/

.footer {
    background-color: var(--Very-Light-Gray);
}
.footer__brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 2.5em;
    margin-bottom: 2.5em;
    border-bottom: 1px solid var(--Dark-Grayish-Violet);
}
.footer__logo {
    display: block;
}
.footer__media {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.footer__navigation {
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7em;
}
.footer__link {
    text-decoration: none;
    color: var(--Dark-Violet);
    font-weight: 700;
    text-transform: uppercase;
}
.footer__link-first {
    margin-bottom: .8em;
    color: var(--Dark-Grayish-Violet);
}

/* desktop */

@media (min-width:768px) {

    /* Hero section*/

    .nav__links {
        display: flex;
        gap: 2em;
    }
    .nav__link {
        text-decoration: none;
        color: var(--Dark-Grayish-Violet);
        text-transform: uppercase;
        font-weight: 700;
        padding: .8em 0;
    }
    .nav__link-cta {
        color: var(--Dark-Violet);
        border: 1px solid;
        padding: .8em 1em;
    }
    .nav__hamburguer {
        display: none;
    }
    .hero {
        background-image: linear-gradient(to bottom, var(--Dark-Violet) 75%, white 75%);
    }
    .hero__main {
        --padding-container: 100px 0;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .hero__main::before {
        width: 48%;
        height: 530px;
        background-image: url(images/image-intro-desktop.jpg);
        order: 1;
    }
    .hero__texts {
        width: 50%;
        margin: 0;
        padding: 20px 0 0;
        text-align: left;
        position: relative;
    }
    .hero__texts::before {
        content: "";
        position: absolute;
        width: 120px;
        height: 3px;
        top: 0;
        left: 0;
        background-color: white;
    }
    .title {
        font-size: 2.7rem;
    }

    /* section different*/

    .different {
        text-align: left;
    }
    .title-different::before {
        margin: 0;
    }
    .different__items {
        flex-direction: row;
        gap: 2em;
    }
    .different__item {
        flex: 1;
    }
    .different__icon {
        margin-left: 0;
    }
    .different__title {
        font-family: var(--font1);
        font-size: 1.5rem;
        letter-spacing: 3px;
    }
    .different__paragraph {
        margin-top: 1em;
        line-height: 1.5;
        color: var(--Dark-Grayish-Violet);
    }

    /*section find*/

    .find {
        --padding-container: 60px;
    }
    .find__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    .title-find {
        width: 60%;
    }
    
    /* Section footer*/
    
    .footer__brand {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }
    .footer__navigation {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer__nav {
        width: 20%;
        align-items: flex-start;
    }
}